.common {
  width: 30%;
  margin: 10px 0 10px 10px;
  background-color: #F0F5FB;
}

.common :global(.cspace-layout-Panel--common) {
  margin: 0;
  background-color: rgba(156, 185, 211, .2);
}

.common :global(.cspace-layout-Panel--common) > div {
  padding: 0;
}

.common :global(.cspace-layout-Table--common) {
  font-size: 12px;
}
