.common {
  flex: 1;
  background: white;
}

.common > div > p {
  margin: 10px 0;
}

.common > div > :global(.cspace-ui-RecordEditor--common) {
  padding-right: 0;
}

.common > div {
  display: flex;
}
